@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Tailwind Theme 토큰 선언 */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* 폰트 */
  --font-sans: Pretendard, sans-serif;

  /* Text Size Tokens */
  --text-100: 100px;
  --leading-100: 100px;

  --text-64: 64px;
  --leading-72: 72px;

  --tracking--1px: -1px;
  --font-weight-bold: 700;
}

/* ========================
     다크모드
========================= */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* ========================
    기본 Body 스타일
========================= */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* ========================
   Typography
========================= */
@layer base {
  .text-h1-100b {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-bold);
    color: white;

    font-size: var(--text-100);
    line-height: var(--leading-100);
    letter-spacing: var(--tracking--1px);

    text-shadow: 0 0 10px rgba(255,255,255,0.7);
  }

  .text-h1-64b {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-64);
    line-height: var(--leading-72);
  }
}
